.container {
  max-width: max-content;
  background-color: #194c33;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.container:hover {
  background: #1e8151;
}
