.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 30px;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logout {
  background: #53c28b;
  padding: 10px 15px;
  border: none;
  color: #fff;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}
